*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #daeaec;
}
.quiz{
    width: 600px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
    background: #efefef;
    border-radius: 5px;
}
.quiz-head{
    padding: 2rem 3rem;
}
h2{
    margin-bottom: 25px;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    width: 100%;
    background: rgb(197, 21, 197);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}